/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

#utility {
//  left: 0;
//  right: 0;
  height: 30px;
//  width: 100%;
//  position: relative;
  background-color: #5A5A5A;
  color: #BCBCBC !important;
  font-weight: 300;
}

.clearFix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#utility #logoExtend, #header #logoExtend {
  width: 90px;
  height: 110% !important;
  margin-left: 20px;
//  left: 20px;
//  top: 0;
//  position: absolute;
  background-color: #ffffff;
  z-index: 1;
}
#title {
  height: 110%;
}
#utility a {
  font-size: 14px !important;
  line-height: 14px !important;
  padding: 8px 10px !important;
  height: 100% !important;
  cursor: pointer !important;
  background-color: #5A5A5A !important;
  color: #BCBCBC !important;
  font-weight: normal;
}
#utility a:hover {
  background: url("../images/utility_select.png") no-repeat;
  background-position: center bottom;
}
#logoExtend a {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#utility .divider {
  height: 30px !important;
  border-right: solid 1px #BCBCBC !important;
  border-left: none !important;
}

#header .divider {
  height: 50px !important;
  border-right: solid 1px #BCBCBC !important;
  border-left: none !important;
}

#header {
  height: 50px;
  top: 30px;
  width: 100%;
  border-bottom: 1px solid #BCBCBC;
  background-color: #ffffff;
  color: #5a5a69 !important;
  position: fixed;
  font-family: 'roboto condensed', Arial, sans-serif;
  z-index: 10;
}

#page {
  margin-top: 50px;
}
#header .logo {
  width: 90px;
}
#header li {
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
}
#header li a {
  padding: 2px 15px;
  background-color: #ffffff !important;
  color: #5a5a69 !important;
  font-weight: normal;
}
#header section ul {
  border-bottom: 1px solid #BCBCBC;
  background-color: #ffffff !important;
  height: 49px !important;
}